{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
        {% if articles %}
            {% for article in articles %}
                {#{{ dump(article) }}#}
                <tr>
                    <td>{{ article.name }}</td>
                    <td>{{ article.description }}</td>
                    <td><a href="articles{{ asset(article.id)}}/edit" class="btn btn-primary">Edit</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
