{% extends 'base.html.twig' %}

{% block title %}Users
{% endblock %}

{% block content %}
	<form id='sign_up_form'>
		<div class="form-group">
			<label for="user">Username</label>
			<input type="text" class="form-control" name="user" id="user" placeholder="Enter you name" required/>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" name="email" id="email" placeholder="Enter you email" required/>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="password" id="password" placeholder="Enter you password" required/>
		</div>
		<button type='submit' class='btn btn-primary'>Sign up</button>
	</form>
{% endblock %}
